<div class="image" [ngStyle]="{'background-image': 'url('+book?.image+')'}" ></div>
<div class="contents">
    <div class="title">
        {{book?.title}}
    </div>
    <div class="subtitle">
        {{book?.subtitle}}
    </div>
    <div class="price">
        {{book?.price}}
    </div>
    <div class="quantity-wrapper">
        <div class="quantity-button" (click)="handleDecrement()">
            -
        </div>
        <div class="quantity">
            {{product.quantity}}
        </div>
        <div class="quantity-button" (click)="handleIncrement()">
            +
        </div>
    </div>
    <app-button (click) = "handleRemove()" >
        Remove
    </app-button>
</div>
<div *ngIf="loading" class="loading">

</div>